body {
    background-color: #F2FFFC;
    font-family: 'Crimson Text', 'Times New Roman', Times, serif;
    font-size: 120%;
}

h1,
h2 {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
}

main h1 {
    background-color: #851944;
    color: #FFF;
    text-align: center;
}

p {
    text-align: justify;
}