body {
    font-family: 'Crimson Text', 'Times New Roman', Times, serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.titulo-principal {
    text-transform: uppercase;
}

h1,
h2 {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 30px;
}

main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

main a {
    color: #851944;
}

main h1 {
    text-align: center;
    background-color: #851944;
    font-size: 60px;
    color: #FFF;
    margin: 0;
    padding: 25px;
    border-bottom: 10px solid #000;
}

p {
    text-align: justify;
    margin: 20px 0;
}

.citacoes {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
    padding: 20px;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

aside a {
    /*
    * inherrit pega o padrao definido no pai ou no seu ancestraul
    */
    color: inherit;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
}

.rodape {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

nav a {
    color: #F2FFFC;
    text-transform: lowercase;
}

.icones-sociais li {
    display: inline-block;
}

.artigo {
    padding-bottom: 30px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    background-color: #E6E7E8;
}

.icones-sociais a {
    display: block;
    text-indent: -99999px;
    width: 40px;
    height: 40px;
}

.github {
    background-image: url(twitter.png);
}

.twitter {
    background-image: url(github.png);
}

.linkedin {
    background-image: url(linkedin.png);
}